body {
    margin:0px;
    text-align:center;
}

h1{
    margin:5px;
}
h1 a{
    color:black;
    font-size:50px;
    text-decoration: none;
    text-shadow: 4px 3px gray;
}

h7 {
    color:gray;
    text-align:center;
    position:fixed;
    bottom:5px;  
    right:5px;
}

#list {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding:10px;
    border-top:1px solid gray;
    border-bottom: 1px solid gray;
}



#list a {
    color:black;
    text-decoration: none;
}

p {
    margin-top:50px;
}

